Repository daeuniverse/dae-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, sort-package-json, eslint --fix

.lintstagedrc:

{
  "*": "prettier --ignore-unknown --write",
  "package.json": "sort-package-json",
  "*.{ts,vue}": "eslint --fix"
}

chore: auto import from gql.tada
  .vscode/settings.json
  components/ConfigFormModal.vue
  components/ResourceConfigs.vue
  components/ResourceGroups.vue
  components/ResourceRoutings.vue
  mutations/index.ts
  nuxt.config.ts
  queries/index.ts
  stores/api.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: clean up
  components/ConfigFormModal.vue
  nuxt.config.ts
  tsconfig.json
Due: prettier --ignore-unknown --write, eslint --fix

build: docker
  .dockerignore
  Dockerfile
  bun.lockb
  components/ResourceGroups.vue
  stores/api.ts
Due: prettier --ignore-unknown --write, eslint --fix

ci: .github
  .github/dependabot.yml
  .github/workflows/release.yml
Due: prettier --ignore-unknown --write

ci: disable husky
  .github/workflows/release.yml
Due: prettier --ignore-unknown --write

chore: bun -> pnpm
  .github/dependabot.yml
  .github/workflows/release.yml
  .husky/commit-msg
  .husky/pre-commit
  Dockerfile
  bun.lockb
  components/ConfigFormModal.vue
  components/ResourceConfigs.vue
  components/ResourceGroups.vue
  components/ResourceRoutings.vue
  package.json
  pnpm-lock.yaml
  stores/api.ts
Due: prettier --ignore-unknown --write, sort-package-json, eslint --fix

chore: add missing typescript dependency
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, sort-package-json

feat: select config
  components/ResourceConfigs.vue
  components/ResourceGroups.vue
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, sort-package-json, eslint --fix

feat: disable config form modal submit button when nothing changed
  components/ConfigFormModal.vue
Due: prettier --ignore-unknown --write, eslint --fix

feat: dns
  components/CodeEditor.client.vue
  components/ConfigFormModal.vue
  components/ResourceConfig.vue
  components/ResourceDNS.vue
  components/ResourceGroup.vue
  components/ResourceRouting.vue
  components/ResourceRoutings.vue
  locales/en_US.json
  locales/zh_Hans.json
  pages/index.vue
  queries/index.ts
Due: prettier --ignore-unknown --write, eslint --fix

chore: upgrade dependencies
  graphql-env.d.ts
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, sort-package-json, eslint --fix

feat: header
  .vscode/settings.json
  components/ResourceConfig.vue
  components/ResourceDNS.vue
  components/ResourceGroup.vue
  components/ResourceRouting.vue
  components/TextLogo.vue
  layouts/default.vue
  modules/1.bootstrap.ts
  package.json
  pnpm-lock.yaml
  server/api/avatar.post.ts
  utils/path.server.ts
Due: prettier --ignore-unknown --write, sort-package-json, eslint --fix

feat: update layout
  components/ResourceConfig.vue
  components/ResourceDNS.vue
  components/ResourceGroup.vue
  components/ResourceRouting.vue
  pages/index.vue
Due: prettier --ignore-unknown --write, eslint --fix

feat: settings
  components/TheHeader.vue
  graphql-env.d.ts
  layouts/default.vue
  mutations/index.ts
  pages/index.vue
  schema.graphql
  server/api/avatar.post.ts
  server/api/avatar/[...avatar].get.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: color mode
  components/TheHeader.vue
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, sort-package-json, eslint --fix

feat: subscriptions & nodes
  components/ResourceNode.vue
  components/ResourceSubscription.vue
  components/TextLogo.vue
  components/TheHeader.vue
  pages/index.vue
Due: prettier --ignore-unknown --write, eslint --fix

feat: subscriptions & nodes
  components/ResourceNode.vue
  components/ResourceSubscription.vue
Due: prettier --ignore-unknown --write, eslint --fix

feat: import subscriptions
  components/ConfigFormModal.vue
  components/ResourceSubscription.vue
  pages/index.vue
Due: prettier --ignore-unknown --write, eslint --fix

feat: import subscriptions
  components/ResourceSubscription.vue
Due: prettier --ignore-unknown --write, eslint --fix

feat: subscriptions & nodes
  components/ResourceNode.vue
  components/ResourceSubscription.vue
  mutations/index.ts
  pages/index.vue
Due: prettier --ignore-unknown --write, eslint --fix

feat: ui
  app.config.ts
  components/ResourceNode.vue
  components/ResourceSubscription.vue
  components/TheHeader.vue
  layouts/default.vue
  nuxt.config.ts
  package.json
  pages/setup.vue
  pnpm-lock.yaml
  server/api/connect.ts
Due: prettier --ignore-unknown --write, sort-package-json, eslint --fix

feat: docs website
  .vitepress/cache/deps/@theme_index.js
  .vitepress/cache/deps/@theme_index.js.map
  .vitepress/cache/deps/_metadata.json
  .vitepress/cache/deps/chunk-OLP6OYL4.js
  .vitepress/cache/deps/chunk-OLP6OYL4.js.map
  .vitepress/cache/deps/chunk-PJS7PUGT.js
  .vitepress/cache/deps/chunk-PJS7PUGT.js.map
  .vitepress/cache/deps/package.json
  .vitepress/cache/deps/vitepress___@vue_devtools-api.js
  .vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
  .vitepress/cache/deps/vitepress___@vueuse_core.js
  .vitepress/cache/deps/vitepress___@vueuse_core.js.map
  .vitepress/cache/deps/vue.js
  .vitepress/cache/deps/vue.js.map
  .vitepress/config.ts
  docs/api-examples.md
  docs/index.md
  docs/markdown-examples.md
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, sort-package-json, eslint --fix

docs: add comments
  .gitignore
  .vitepress/cache/deps/@theme_index.js
  .vitepress/cache/deps/@theme_index.js.map
  .vitepress/cache/deps/_metadata.json
  .vitepress/cache/deps/chunk-OLP6OYL4.js
  .vitepress/cache/deps/chunk-OLP6OYL4.js.map
  .vitepress/cache/deps/chunk-PJS7PUGT.js
  .vitepress/cache/deps/chunk-PJS7PUGT.js.map
  .vitepress/cache/deps/package.json
  .vitepress/cache/deps/vitepress___@vue_devtools-api.js
  .vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
  .vitepress/cache/deps/vitepress___@vueuse_core.js
  .vitepress/cache/deps/vitepress___@vueuse_core.js.map
  .vitepress/cache/deps/vue.js
  .vitepress/cache/deps/vue.js.map
  Dockerfile
  mutations/index.ts
  queries/index.ts
  stores/api.ts
Due: prettier --ignore-unknown --write, sort-package-json, eslint --fix

docs: add comments
  components/CodeEditor.client.vue
  layouts/default.vue
  package.json
  pages/index.vue
  pages/setup.vue
  server/api/avatar.post.ts
  server/api/avatar/[...avatar].get.ts
Due: prettier --ignore-unknown --write, sort-package-json, eslint --fix

ci: release-docs
  .github/workflows/release-docs.yml
  components/TheHeader.vue
  pages/setup.vue
Due: prettier --ignore-unknown --write, eslint --fix

ci: release-docs
  .github/workflows/release-docs.yml
Due: prettier --ignore-unknown --write

ci: release-docs
  .github/workflows/release-docs.yml
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write

ci: release-docs
  .vitepress/config.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: routings
  components/CodeEditor.client.vue
  components/ConfigFormModal.vue
  components/ResourceConfig.vue
  components/ResourceDNS.vue
  components/ResourceGroup.vue
  components/ResourceNode.vue
  components/ResourceRouting.vue
  components/ResourceSubscription.vue
  components/RoutingFormModal.vue
  components/TheHeader.vue
  pages/index.vue
  pages/setup.vue
Due: prettier --ignore-unknown --write, eslint --fix

feat: update
  components/ConfigFormModal.vue
  components/ResourceConfig.vue
  components/ResourceConfigCard.vue
  components/ResourceGroup.vue
  package.json
  pages/index.vue
  pages/test.vue
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write, sort-package-json, eslint --fix
